@import url(http://fonts.googleapis.com/css?family=Montserrat|Pathway+Gothic+One|Raleway);


body{
	background-image: url('bg.png');
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

a{
	text-decoration: none;
}

ul, ol, li{
	list-style: none;
	display: inline;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"]{
	height:8px !important;
	margin-left: 5px;
}

/*#container-body{
	background-image: url('bg.png');
}
*/

header{
border-top: 3px solid #1fc9a7;
background-color: #34495e;
border-bottom: 2px solid #ccc;
height: 110px;
}

.btn{
	width: 80px;
}

.btn-custom{
	background-color: #1fc9a7;
}

.top{
	padding: 15px;
	float: right;
	text-transform: uppercase;
	color: #fff;
}

#submit-home{
	background-color:#EC7063;
	font-family: 'Raleway', sans-serif;
}

.nav{
	display: inline;
	width: 100px;
	text-transform: uppercase;
	color: #fff;

}
#logo{
	padding-left: 20px;
	padding-top: 5px;
	width:300px;
	float: left;
}

.login{
	font-size:20px;
}

.welcome{
	width: 600px;
	margin: 0 auto;
	margin-top: -2px;
	font-size:1.5em;
	letter-spacing: -1px;
	padding-top: 10px;
}

.enter{
	margin-top: 25px;
	letter-spacing: -1px;
	font-size: 1.1em;
}

#span{
	width: 500px;
	margin: 0 auto;
	background-color: #34495e;
	color: #fff;
	border-radius: 25px 25px 25px 25px;
	padding-bottom: 1px;
}

#span.title{
	background-color: #EC7063;
	border-radius: 25px 25px 0px 0px;
}

.participants{
	padding-top: 10px;
}

#span{
	margin-top: 10px
}

.exchange-title{
	padding-top: 10px;
}

.forgot_password{
	display: inline;
}


